streamlit
tensorflow
certifi==2026.5.20
cftime==1.6.5
geographiclib==2.1
h5netcdf==1.8.1
joblib==1.5.3
netCDF4==1.7.4
numpy==2.4.4
packaging==26.2
pandas==3.0.3
pygeodesy==26.5.26
python-dateutil==2.9.0.post0
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
threadpoolctl==3.6.0
tzdata==2026.2
xarray==2026.4.0
